@import './variables';

@mixin center-item {
    width: 100%;
    text-align: center;
}

@mixin center-in-div {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

@mixin absolute-out-of-flow-layout {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

@mixin centerfy {
    position: absolute;
    top: 50%;
}

@mixin attention-text-large {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 40px;
    color: $lighter-font-colour;
    margin-top: 1em;
}

@mixin responsive-grid($item-width) {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax($item-width, 1fr));
}

@mixin responsive-flex-box {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
}

@mixin portfolio-heading-style($padding) {
    @include center-in-div;
    min-height: 25vh;
    padding-top: $padding;
    padding-bottom: $padding;
    background-color: #ddd;

    div {
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        text-align: center;

        h3 {
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: -.1rem;
            letter-spacing: .075rem;
        }
        
        p {
            margin-top: -.1rem;
            letter-spacing: .2rem;
        }
    }
}

@mixin hr-line($line-style){
    z-index: 2;
    border: 0;
    height: 1px;
    background-image: linear-gradient($line-style);
}