@import 'mixins';
@import './variables';

@media only screen and (max-width: 1250px) {
    .contact-form-layout {
        width: 70vw !important;
        padding-left: .5em;
        padding-right: .5em;
    }

    .thank-you-message {
        font-size: 0.75em !important;
    }
}

@media only screen and (max-width: 600px) {
    .contact-form-layout {
        width: 90vw !important;
    }

    .form-item-layout, .inner-form-layout {
        width: fit-content !important;
        flex-basis: 100%;

        div {
            margin-top: .2em;
            margin-bottom: .2em;
            
            p {
                text-align: left;
            }
        }
    }

    .contact-message {
        flex-basis: 100%;
    }

    .contact-blurb {
        margin-top: 2em !important;
    }
}

label {
    color: $label-colour;
}

.contact-form-layout {
    z-index: 12;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.97) 0%, rgba(36,37,37,0.8533788515406162) 100%);
    border: 18px outset rgba(249, 249, 249, .4);
    background-clip: padding-box;
    display: flex;
    flex-direction: column;
    width: 60vw;
    padding: 1.5em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;

    h2 {
        color: $label-colour;
        font-size: 1.75em;
        font-weight: lighter;
    }
}

.inner-form-layout {
    padding: .5em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    div {

        h4, p {
            color: $label-colour;
        }

        p {
            font-size: .9em;
            font-weight: lighter;
            margin: .25em 0;
        }
    }
}

.company-name {
    font-weight: bold;
    font-size: 1.25em;
    margin-bottom: .5em;
}

.form-item-layout {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    padding: .5em;
}

.contact-message {
    flex-basis: 50%;
    padding: .5em;
    padding-left: 0;
}

.contact-blurb {
    margin-top: 4em;
}

.form-content {
    flex-basis: 50%;
}

.form-item {
    display: flex;
    flex-direction: column;
    margin-bottom: .5em;
}

.hr-line {
    background-color: $label-colour;
    border: 0;
    clear: both;
    display: block;
    width: 99%;
    height: 2px;
}

.submit-button {
    margin-top: .75em;
    display: flex;
    align-self: flex-end;
    background-color: $button-colour;
    text-transform: uppercase;
    letter-spacing: .05em;
    width: fit-content;
    border-radius: 5px;
    padding: .5em;

    &:hover {
        opacity: .6;
    }

    &:active {
        outline: 0;
        opacity: .8;
    }

    &:focus {
        outline: 0;
    }
}

.thank-you-message {
    flex-basis: 50%;
    color: $label-colour;
    text-align: center;
    font-size: 1.1em;
    letter-spacing: .15rem;
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.error-text {
    color: $error-colour;
    opacity: .6;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.8;
    }
}