@import 'mixins';
@import './variables';

/* For tablets and smaller screened laptops */
@media only screen and (max-width: 1250px) {
    .opening-message-container {
        margin-bottom: -2rem;
    }
}

/* For mobile phones */
@media only screen and (max-width: 600px) {
    .opening-message-container {
        margin-bottom: -4.5rem;
        width: 100%;
        padding-top: 10em;
        padding-bottom: 15rem;

        h2 {
            font-size: 3em !important;
            padding-top: 3rem;
        }

        h3 {
            font-size: 1.5em !important;
            margin-top: -1rem;
        }

        p {
            font-size: .85rem !important;
            text-align: center !important;
            margin-bottom: 2em !important;
        }
    }
}

.opening-image {
    position: absolute;
    z-index: -10;
    object-fit: cover;
    height: 110vh;
    filter: brightness(60%) blur(3px);
}

.parallax {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 110vh;
    background-image: url('../assets/images/after_the_job_construction.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.opening-message-container {
    position: relative;
    left: 0;
    top: 0;
    width: 100vw;
    height: 110vh;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2, h3, p {
        color: $light-font-colour;
        max-width: 45ch;
        text-align: center;
    }

    h2, h3 {
        letter-spacing: .5rem;
        font-weight: bold;
    }

    span {
        color: red;
    }

    h2 {
        font-size: 6em;
        margin-top: 3rem;
        margin-bottom: 3rem;
        
        &::after {
            content: "!";
        }
    }

    p {
        letter-spacing: .2rem;
        margin-top: 2rem;
    }

    .return-button {
        color: $light-font-colour;
        border: $light-font-colour solid 1px;
        padding: .6em;
        border-radius: 20px;
        transition: 300ms;

        &:hover {
            text-decoration: none;
            background-color: $light-font-colour;
            color: grey;
        }

        &:focus {
            opacity: .7;
        }
    }
}