footer {
    z-index: 10;
    clip-path: polygon(0 8%, 100% 0, 100% 100%, 0% 100%);
}

.container {
    padding-top: 2em;
    border-top: .1em #ddd;
    background: #052517;

    div {
        div {
            h4 {
                color: #ddd;
            }

            ul {
                li {
                    color: #ddd;
                }
            }
        }

        p {
            color: #ddd;
        }
    }

    &::before {
        display: none;
        content: '';
        position: absolute;
        width: 120vw;
        height: 40px;
        background: red;
        transform: rotate(-1deg);
        z-index: 10;
        margin-top: -3.5%;
    }
}

div {
    ul {
        list-style-type: none;
        
        li {
            margin-bottom: 1em;
            svg {
                margin-right: .5em;
            }
        }
    }
}

.footer-info {
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-icons {
    color: #ddd;
}

.copyright-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    padding: 1em;
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-weight: 200;
}

.info-space {
    margin-top: 2em;
}