@import 'mixins';
@import './variables';

@media only screen
and (min-device-width: 350px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {

    .logo {
        @include center-item;
    }

    .responsiveHamburger {
        color: red;
    }
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
}

.navbar-layout {
    display: block;
}

.logo {
    max-height: 150px;
    max-width: 150px;
    position: relative;
    z-index: inherit;

    &:hover {
        text-decoration: none;
    }
}

.page-links {
    color: $lighter-font-colour;
    margin-left: .5em;
    margin-right: .5em;
    text-decoration: none;
    position: relative;
    padding-bottom: 8px;

    &::before,
    &::after {
        content: '';
        position: absolute;
        bottom: 4px;
        left: 0;
        right: 0;
        height: 2px;
        background-color: $lighter-font-colour;    
    }

    &::before {
        opacity: 0;
        transform: translateY(- $distance);
        transition: transform 0ms $easeOutBack, opacity 0s;
    }

    &::after {
        opacity: 0;
        transform: translateY($distance / 2);
        transition: transform $duration $easeOutBack, opacity $duration;
    }

    &:hover,
    &:focus {
        text-decoration: none;
        color: $lighter-font-colour;
        
        &::before,
        &::after {
            opacity: 1;
            transform: translateY(0);
        }

        &::before {
            transition: transform $duration $easeOutBack, opacity $duration;
        }

        &::after {
            transition: transform 0ms $duration $easeOutBack, opacity 0ms $duration;
        }
    }
}

.phone-icon {
    margin-left: .2em;
    margin-right: .5em;

    &:hover {
        text-decoration: none;
    }
}
