@import 'mixins';
@import './variables';

@media only screen
and (min-device-width: 350px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {

    .logo {
        @include center-item;
    }

    .responsiveHamburger {
        color: red;
    }
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
}

.navbar-layout {
    display: block;
}

.logo {
    max-height: 150px;
    max-width: 150px;
    position: relative;
    z-index: inherit;

    &:hover {
        text-decoration: none;
    }
}

.page-links {
    color: $lighter-font-colour;
    margin-left: .5em;
    margin-right: .5em;

    &:hover {
        text-decoration: none;
        color: $light-font-colour;
    }
}

.phone-icon {
    margin-left: .2em;
    margin-right: .5em;

    &:hover {
        text-decoration: none;
    }
}

.phone-button {
    max-width: 250px;
    max-height: 150px;
    font-weight: bold;
    border-radius: 25px;
    border-color: $base-font-colour;
    border-width: thin;
    padding: .1em;
    background-color: lightblue;

    &:hover {
        background-color: blue;
    }

    &:active {
        background-color: grey;
    }
}