@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

@import './variables';
@import 'mixins';

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: $base-font-colour;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.layout-content-order {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.website-real-estate {
    flex-grow: 1;
}

h4 {
    font-weight: bold;
}