@use './variables';
@use './mixins';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

@media screen
and (min-width: 320px)
and (max-width: 767px)
and (orientation: landscape) {
    html {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
    }
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: variables.$base-font-colour;
    margin: 0;
    padding: 0;
    cursor: pointer;

    &::selection {
        background-color: variables.$light-font-colour;
    }
}

body, html {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
    overscroll-behavior: contain;
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: fixed;
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
    display: none;
}

.layout-content-order {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
}

.website-real-estate {
    flex-grow: 1;
}

h4 {
    font-weight: bold;
}

button {
    font-size: 100%;
    font-family: inherit;
    border: 0;
    padding: 0;
    background: none;
}