@use './variables';
@use './mixins';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: variables.$base-font-colour;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    overscroll-behavior: contain;
    position: fixed;
}

.layout-content-order {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
}

.website-real-estate {
    flex-grow: 1;
}

h4 {
    font-weight: bold;
}